---
layout: page
---
<h1>Sebastian Göttschkes</h1>
<p class="tagline">#music #bodymod #symfony #agile #devops</p>

<h2>Contact</h2>

<ul class="vcard">
    <li class="fn">Sebastian Göttschkes</li>
    <li>Mariengasse 29/7</li>
    <li>1170 Vienna</li>
    <li>Austria</li>
    <li>sebastian (dot) goettschkes (at) googlemail (dot) com</li>
</ul>

<h2>As seen on</h2>

<ul class="seenon no-bullet clearfix">
    {% for item in site.data.about.seenon %}
    <li class="left">
        <a href="{{ item.url }}" target="_blank" >
            <img src="{{ item.image }}" alt="{{ item.name }}" title="{{ item.name }}" />
        </a>
    </li>
    {% endfor %}
</ul>

<h2>Projects</h2>

<dl>
    {% for project in site.data.about.projects %}
    <dt>{{ project.name }}</dt>
    <dd>
        {{ project.description }}
        <a href="{{ project.url }}" target="_blank">{{ project.url_caption }}</a>
    </dd>
    {% endfor %}
</dl>

<h2>Talks</h2>

<ul class="circle">
    {% for talk in site.data.about.talks %}
    <li>
        <a href="{{ talk.url }}" target="_blank">{{ talk.name }}</a> 
        @ {{ talk.location }}, {{ talk.date }}
    </li>
    {% endfor %}
</ul>

<h2>Workshops</h2>

<ul class="circle">
    {% for ws in site.data.about.workshops %}
    <li>{{ ws.name }}</li>
    {% endfor %}
</ul>

<h2>Publications</h2>

<ul class="circle">
    {% for pub in site.data.about.publications %}
    <li>
        <a href="{{ pub.url }}" class="pubtitle" target="_blank">"{{ pub.name }}"</a>, 
        {{ pub.description }}
    </li>
    {% endfor %}
</ul>
